* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,body {
	width: 100%;
	height: 100%;
}

header {
	background-image:  url(BackG.jpg);
	height: 100vh;
	zoom:  100%;
	background-size: cover;
	background-position: centre;

}

#main {
	background: transparent;
	width:  100%;
	height:  50px;
}

#main .logo {
	float:  left;
}

.logo {
	background:  url(Logo.PNG);
	width: 150px;
	height: 150px;
	background-position: center;
	background-size: cover;
	margin-left: 40px;
	margin-top: 0px;
}

#main nav ul {
	float: right;
	margin-right: 40px;
	margin-top: 30px;
}

#main nav ul li {
	list-style-type: none;
	display: inline-block;
	color: #FFFFFF;
	margin: 0 8px;
	line-height: 50px;
}

#main nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 24px;
	font-family: arial;
	padding: 6px 13px;
	transition: 0.4s all ease-out;
}

#main nav ul li a:hover {
	color: #FE2E2E;
	transition: 0.4s all ease-out;
}

.heading {
	color: #FFFFFF;
	margin-top: 250px;
	margin-left: 350px;
	font-size: 30px;
	font-family: 'Permanent Marker';
}

.subheading {
	color: #FFFFFF;
	margin-top: 20px;
	margin-left: 350px;
	font-size: 14px;
	font-family: 'arial';
}

.article {
	color: #FFFFFF;
	margin-top: 50px; 
	margin-left: 110px;
	font-size: 30px;
	font-family: arial;
}

.paragraph {
	color: #FFFFFF;
	margin-top: 50px;
	margin-left: -550px;
	margin-right: 150px;
	font-size: 18px;
	font-family: arial;
}

.roofers {
	color: #FFFFFF;
	margin-top: 60x;
	margin-left: 10px;
	margin-right: 150px;
	font-size: 18px;
	font-family: arial narrow;

}

.bricklayers{
	color: #FFFFFF;
	margin-top: 150px;
	margin-left: 150px;
	margin-right: 150px;
	font-size: 18px;
	font-family: arial;

}

.builders{
	color: #FFFFFF;
	margin-top: 25px;
	margin-left: 10px;
	margin-right: 150px;
	font-size: 11px;
	font-family: arial;

}

.carpenters{
	color: #FFFFFF;
	margin-top: 10px;
	margin-left: 800px;
	margin-right: 50px;
	font-size: 14px;
	font-family: arial;

}

.decorators{
	color: #FFFFFF;
	margin-top: 10px;
	margin-left: 700px;
	margin-right: -200px;
	font-size: 14px;
	font-family: arial;

}

.drainage{
	color: #FFFFFF;
	margin-top: -470px;
	margin-left: -800px;
	margin-right: 50px;
	font-size: 14px;
	font-family: arial;

}

.landscapegardens{
	color: #FFFFFF;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 150px;
	font-size: 11px;
	font-family: arial;

}

.plumbers{
	color: #FFFFFF;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 150px;
	font-size: 11px;
	font-family: arial;

}

.drivewaypavers{
	color: #FFFFFF;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 150px;
	font-size: 11px;
	font-family: arial;

}

.windowfitters{
	color: #FFFFFF;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 150px;
	font-size: 11px;
	font-family: arial;

}

.loftconversion{
	color: #FFFFFF;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 150px;
	font-size: 11px;
	font-family: arial;

}


.contacts{

	color: #FFFFFF;
	margin-top: 60x;
	margin-left: 10px;
	margin-right: 150px;
	font-size: 18px;
	font-family: arial;

}

.image1{
	margin-left: 25px;
	margin-right: 30px;
	padding: 30px;

}
.image2{
	margin-left: 25px;
	margin-right: 30px;
	padding: 30px;
}

.image3{
	margin-left: 25px;
	margin-right: 30px;
	padding: 30px;
}

.image4{
	margin-left: 25px;
	margin-right: 30px;
	padding: 30px;
}

.galheading {
	color: #FFFFFF;
	margin-top: 70px;
	margin-left: 250px;
	font-size: 14px;
	font-family: 'arial narrow';
}

.galsecheading{
	color: #FFFFFF;
	margin-top: -640px;
	margin-left: 350px;
	font-size: 20px;
	font-family: 'arial narrow';
}

.galtrdheading{
	color: #FFFFFF;
	margin-top: -640px;
	margin-left: 350px;
	font-size: 26px;
	font-family: 'arial narrow';
}

.galfrtheading{
	color: #FFFFFF;
	margin-top: -640px;
	margin-left: 350px;
	font-size: 30px;
	font-family: 'arial narrow';

}
